[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
boto3 = "*"
django = "==2.2.*"
django-environ = "*"
django-health-check = "~=3.8"
elasticsearch-dsl = "*"
gunicorn = "~=19.9"
psycopg2-binary = "*"
requests = "*"
urltools = "*"
django-extensions = "*"

[dev-packages]
coverage = "*"
django-coverage-plugin = "*"
pytest = "*"
pytest-cov = "*"
